<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../CSS/styleTable.css"/>  
<!-- <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style> -->
</head>
<body>

<h3>Registered Courses For Spring 2021</h3>
<div class="column">
<table class="styled-table">
  <tr>
    <th>Course</th>
    <th>Time</th>
    <th></th>
  </tr>
  <tr>
    <td>Algorithm</td>
    <td>Sunday and Tuesday</td>
   
  </tr>
  <tr>
    <td>Data Structure</td>
    <td>Monday and Wednesday</td>
    
  </tr>
  <tr>
    <td>Math</td>
    <td>Sunday and Tuesday</td>
  </tr>
  <tr>
    <td>Database</td>
    <td>Monday and Wednesday</td>
    <td></td>
  </tr>
  
  <tr class="active-row">
    <td>Theory Of Computation</td>
    <td>Monday and Wednesday</td>
  
  </tr>
</table>
</div>


</body>
</html>
