
<!DOCTYPE html>  
<html>
<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="../CSS/demo.scss"/>  
<head>  
<style>
   
</style>
</head> 

<body>  



    <form class="login-form" action="../Controller/login.php" method="post">
        <p class="login-text">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x"></i>
          </span>
        </p>
        <input type="text" class="login-username" name="userid" autofocus="true" required="true" placeholder="Enter ID" />
        <input type="password" class="login-password" name="psw" required="true" placeholder="Enter Password" />
        <input type="submit" name="submit" value="Login" class="login-submit" />
  
      </form>
      <a href="#" class="login-forgot-pass">forgot password?</a>
      <div class="underlay-photo"></div>
      <div class="underlay-black"></div> 
  </body>

  </html>